body{
	box-sizing: border-box;
	max-width: 960px;
}

h1{
	text-align: center;
	margin: 82px 0 0 0;
    font-size: 4em;
}
h2{
	text-align: center;
	margin-bottom: 40px;
	font-size: 12.5px;
}
div{
    width: 149px;
    height: 149px;
    border: 1px solid black;
    display: inline-block;
    margin: 17px;
    border-radius: 100%;
    text-align: center;
}
