html{
	box-sizing: border-box;

}

*, *:before, *:after{
		box-sizing: inherit;
	}

html{
	background-color: #F2F2F1;
}

body{
	background: linear-gradient(#E0E0E0 , #D8D8D8);
	font-family: 'baloo bhai', helvetica; 
	max-width: 1260px;
	margin: 0 auto;
	padding-bottom: 60px;
}

main{
	max-width: 1300px;
	margin: 0 auto;
}

section{
	width: 97%;
	margin: 40px auto;
	text-align: center;
}

h1{
	text-align: center;
	margin: 0;
    font-size: 5em;
    letter-spacing: 11px;
    background: #A6E4FF;
}

h2{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 0;
	font-size: 1.3em;
	background: white;
	padding: 5px 0;
}

h3{
	font-family: Raleway;
	font-size: 1.5em;
    margin: 43px 0px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#return-home{
	cursor: pointer;
}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

div{
	width: 150px;
	height: 150px;
    display: inline-block;
    margin: 40px 10%;
    border-radius: 100%;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
div:hover{
	background-color: #FFB848;
}


#cuisine div img{
	width: 70%;
	height: 70%;
	position: relative;
    top: 22px;	
    border-radius: 0;
}

#food div img{
	width: 70%;
	height: 70%;
	position: relative;
    top: 21px;
}


#results div{
	width: 150px;
	height: 150px;
    text-align: center;
    border: 10px solid white;
}

#results div:hover{
	border: 10px solid #FFB848;
}

#results div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;


}

#results h3{
	font-size: 1.5em;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    position: relative;
    right: 31px;
}

#recipe{
	background-color: white;
    margin: 23% auto;
    width: 90%;
    border-radius: 1%;
    padding: 31px 0;
    box-shadow: 1px 1px 10px 4px #D60000;
}

#recipe p{
	padding: 0 10px;
}

@media(min-width: 580px){
	#result div{
		display: inline-block;
		margin: 100px 5%;
	} 
}


@media(min-width: 800px){
	div{
		margin: 20px 4%;
	}
	#cuisine div img{
		top: 20px;
	}
	h1{
		font-size: 10em;
		height: 220px;

	}
	h2{
		text-align: center;
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 2.3em;
		background: white;
		padding: 18px 0;
	}

	#food div img{
		top: 22px;
	}

}



